<!DOCTYPE html>
<html>
<head>
<title>Mafia</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>

<body>

<div class="game_container">

<div class="left_game_title_container centered">
Mafia Citizen Game:
</div>

<div class="left_game_announcement_container centered">
<div class="left_game_announcement_title">
<img src="images/god_icon.jpg" /> GOD SAYS:
</div>
<div class="left_game_announcement">
City go to sleep. Mafia open your eyes.
</div>
</div>

<div class="left_game_container">

<div class="left_game_left_container">
<div class="left_game_left_content_container">
&nbsp;
</div>
</div>


<div class="left_game_right_container">

<div class="left_game_chat_container">

<div class="left_game_chat_messages_title">
CHAT MESSAGES
</div>

<div class="left_game_chat_messages_container1">

<div class="left_game_chat_messages_container">

</div>

</div>

<div class="left_game_chat_textarea">
<input name="left_game_chat_textarea_input" class="left_game_chat_textarea_input light_input" placeholder="Send a message" />
<button name="left_game_chat_textarea_input_button" class="left_game_chat_textarea_input_button">SEND</button>
</div>

</div>

<div class="left_game_quit_game_container centered">
<button name="left_game_quit_game_button" class="left_game_quit_game_button slide_up_button"><span>Quit Game</span></button>
</div>

</div>

<div class="left_game_left_clear">

</div>

</div>

<div class="right_game_container">
<div class="right_game_chat_container">
<div class="right_game_chat_player_container">
<div class="right_game_chat_player_name player_alive god">
GOD
</div>
<div class="right_game_chat_player_name player_alive">
Nitish Hooda
</div>
<div class="right_game_chat_player_name player_alive">
Ashish
</div>
<div class="right_game_chat_player_name player_alive">
Punit
</div>
<div class="right_game_chat_player_name player_alive">
Rahil
</div>
<div class="right_game_chat_player_name player_alive dead">
Abhiraj
</div>
<div class="right_game_chat_player_name player_alive">
Varun
</div>
<div class="right_game_chat_player_name player_alive sleeping">
Ankit
</div>
<div class="right_game_chat_player_name player_alive sleeping">
Mike
</div>
</div>
</div>
</div>

<div class="footer">

</div>

</div>


<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/common.js"></script>
<script type="text/javascript" src="javascripts/game.js"></script>

</body>
</html>