<!DOCTYPE html>
<html>
<head>
<title>Mafia</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>

<body>

<div class="game_container">

<div class="game_top_container">
GAME OVER
</div>

<div class="game_bottom_container">
<div class="game_bottom_result">
<span class="game_bottom_result_name">NITISH</span>
<span class="game_bottom_result_icon">-></span>
<span class="game_bottom_result_role">MAFIA</span>
</div>

<div class="game_bottom_result">
<span class="game_bottom_result_name">ASHISH</span>
<span class="game_bottom_result_icon">-></span>
<span class="game_bottom_result_role">MAFIA</span>
</div>

<div class="game_bottom_result">
<span class="game_bottom_result_name">PUNIT</span>
<span class="game_bottom_result_icon">-></span>
<span class="game_bottom_result_role">CITIZEN</span>
</div>

<div class="game_bottom_result">
<span class="game_bottom_result_name">RAHIL</span>
<span class="game_bottom_result_icon">-></span>
<span class="game_bottom_result_role">MAFIA</span>
</div>

<div class="game_bottom_result">
<span class="game_bottom_result_name">ABHIRAJ</span>
<span class="game_bottom_result_icon">-></span>
<span class="game_bottom_result_role">CITIZEN</span>
</div>

<div class="game_bottom_result">
<span class="game_bottom_result_name">VARUN</span>
<span class="game_bottom_result_icon">-></span>
<span class="game_bottom_result_role">CITIZEN</span>
</div>

<div class="game_bottom_result">
<span class="game_bottom_result_name">ANKIT</span>
<span class="game_bottom_result_icon">-></span>
<span class="game_bottom_result_role">DETECTIVE</span>
</div>

<div class="game_bottom_result">
<span class="game_bottom_result_name">MIKE</span>
<span class="game_bottom_result_icon">-></span>
<span class="game_bottom_result_role">DACOIT</span>
</div>

<div class="game_bottom_result">
<span class="game_bottom_result_name">JOHN</span>
<span class="game_bottom_result_icon">-></span>
<span class="game_bottom_result_role">HEALER</span>
</div>
</div>

<div class="game_bottom_start_again">
<button name="game_bottom_start_again_button" class="game_bottom_start_again_button slide_up_button"><span>Play Again</span></button>
</div>

</div>



<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/common.js"></script>
<script type="text/javascript" src="javascripts/review.js"></script>

</body>
</html>