<!DOCTYPE html>
<html>
<head>
<title>Mafia</title>
<link rel="stylesheet" type="text/css" href="stylesheets/futura-pt.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>

<body>


<div class="mafia_lightbox_modal">
</div> 

<div class="container">

<div class="top_game_container centered">
<div class="top_game_title">
<%= game_name %>
</div>
</div>

<div class="middle_invite_fb_friends_container">
<button name="middle_start_new_game_button_screen2" class="middle_start_new_game_button_screen2 start_new_game_option_button" style="display:none;">Start Game</button>
<button name="middle_dismiss_game_button" class="middle_dismiss_game_button start_new_game_option_button" style="display:none;">Dismiss Game</button>
<button class="start_new_game_option_button join_this_game_button">Join this game</button>
<button name="invite_fb_friends_button" class="invite_fb_friends_button start_new_game_option_button">Invite Friends</button>
</div>

<div class="middle_live_games_container">
Players currently active in the game:
</div>
<div class="middle_games_container">
<div class="middle_games_show_container">
</div>
<!--<button name="middle_games_show_button" class="slide_up_button middle_games_show_button"><span>Show More</span></button>-->
</div>
<div class="middle_invited_games_container">
</div>

<div class="middle_start_new_game_container">
<div class="middle_start_new_game_i centered">
</div>
<div class="middle_start_new_game_button_container centered">
</div>
<div class="middle_start_new_game_button_container centered">
</div>
</div>
</div>


<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/common.js"></script>
<script type="text/javascript" src="javascripts/screen2.js"></script>


<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
FB.init({
appId:'762188780523189',
cookie:true,
status:true,
xfbml:true
});

function FacebookInviteFriends()
{
FB.ui({
method: 'apprequests',
message: 'Hey, lets play this cool game.'
});
}

$('.invite_fb_friends_button').bind('click',function(){
FacebookInviteFriends();
});
</script>

</body>
</html>