<!DOCTYPE html>
<html>
<head>
<title>Mafia</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>

<body>

<div class="container">



<div class="left_container">
<div class="home_title">
RULES:
</div>
<div class="home_content_container">
<ul>
<li>9 players + 1 god</li>
<li>3 mafias, 3 citizens, 1 dacoit, 1 healer, 1 detective</li>
<li>Roles randomnly assigned. Nobody knows who is who expect about self</li>
<li>Objective of mafias is to kill citizens and of citizens is to kill  mafias</li>
<li>Detective and healer support citizens and dacoits support mafias</li>
<li>Mafias can kill at night including self when prompted by god</li>
<li>Healer can heal as well as kill only once during the entire game at night when prompted by god. Healer can kill/heal self</li>
<li>Detective can suspect somebody at night when prompted by god to find out if the suspect is a mafia</li>
<li>During the day dacoit could kill someone he suspects to be a citizen by suicide bombing at any point of the game. However, dacoit too will die</li>
<li>Voting will happen during the day in which mafias objective is to vote out citizens and vice versa for citizens</li>
<li>Voted out persons will be given one chance to explain themselves and again votes will be called</li>
<li>A chat window will be provided for discussions/strategy planning among players</li>
</ul>
</div>
</div>

<div class="middle_container">

<div class="top_game_container centered">
<div class="top_game_title">
Mafia Citizen Game:
</div>
</div>

<div class="middle_invite_fb_friends_container">
<button name="invite_fb_friends_button" class="invite_fb_friends_button slide_up_button"><span>Invite Friends</span></button>
</div>

<div class="middle_live_games_container">
People Invited
</div>
<div class="middle_games_container">
<div class="middle_games_show_container">
<div class="middle_games_show_person"><span class="middle_games_show_person_name">NITISH HOODA</span></div>
<div class="middle_games_show_person"><span class="middle_games_show_person_name">NITISH HOODA</span></div>
<div class="middle_games_show_person"><span class="middle_games_show_person_name">NITISH HOODA</span></div>
</div>
<!--<button name="middle_games_show_button" class="slide_up_button middle_games_show_button"><span>Show More</span></button>-->
</div>
<div class="middle_invited_games_container">
<div class="middle_invited_title_container">

</div>
</div>

<div class="middle_start_new_game_container">
<div class="middle_start_new_game_i centered">
</div>
<div class="middle_start_new_game_button_container centered">
<button name="middle_start_new_game_button" class="middle_start_new_game_button slide_up_button"><span>Start new Game</span></button>
</div>
</div>
</div>

<div class="right_container">
<div class="home_title">
GUIDELINES:
</div>
<div class="home_content_container">
<ul>
<li>If you are a mafia you will know other mafias when you are first prompted by god. Use this to your advantage and discuss with other mafias</li>
<li>Discussions in chat window will happen mostly during the day for everybody. Carefully read the arguments of everybody to figure out who is who</li>
<li>Dacoit, if is convinced of somebody being a citizen should kill him by suicide bombing</li>
<li>In case of network disconnects or time delay in player’s prompt a default behavior is registered. You can come back to where you left when your network reconnects.</li>
<li>Deception and trickery are key to winning this game. Use them to your advantage</li>
</ul>
</div>
</div>

<div class="footer">

</div>

</div>

<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/common.js"></script>
<script type="text/javascript" src="javascripts/screen2.js"></script>

</body>
</html>