<!DOCTYPE html>
<html>
<head>
<title>Mafia</title>
<link rel="stylesheet" type="text/css" href="stylesheets/futura-pt.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>

<body>

<div class="mafia_lightbox_modal">
</div> 

<div class="container">

<div class="middle_invited_games_container">
<div class="middle_invited_title_container">
You haven't been invited to any games yet!
</div>


<div class="middle_live_games_container middle_title">
Currently Active Games
</div>
<div class="middle_games_container">
<div class="middle_games_show_title centered">
Currently there are no active games, you can start a new game yourself below.
</div>
<div class="middle_games_show_container">
<!--
<div class="middle_live_games_item">
MAFIA CITIZEN 1 (<span class="middle_live_games_count">2</span>)
</div>
<div class="middle_live_games_item">
MAFIA CITIZEN 1 (<span class="middle_live_games_count">2</span>)
</div>
-->
</div>
<button name="middle_games_show_button" class="slide_up_button middle_games_show_more_button"><span>Show More</span></button>
</div>


</div>

<div class="middle_start_new_game_container">
<div class="middle_start_new_game_title centered">
Start new game
</div>
<div class="middle_start_new_game_i centered">
<input type="text" name="middle_start_new_game_input" class="middle_start_new_game_input light_input" placeholder="Choose a name for the game" />
</div>
<div class="middle_start_new_game_button_container centered">
<button name="middle_start_new_game_button" class="middle_start_new_game_button slide_up_button"><span>Start new Game</span></button>
</div>
</div>


<div class="game_middle_footer">
<a class="game_middle_footer_link">INSTRUCTIONS</a>
<a class="game_middle_footer_link">ABOUT</a>
<a class="game_middle_footer_link">CONTACT</a>
</div>

</div>

<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/common.js"></script>
<script type="text/javascript" src="javascripts/screen1.js"></script>

</body>
</html>